# Waf artifacts
build
.lock-*
.waf*

# Python artifacts
*.pyc

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Qt Creator files
libjuce.creator*
libjuce.files
libjuce.includes
libjuce.config
